<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/oa0909</property>
        <!-- username-->
        <property name="connection.username">root</property>
        <property name="connection.password">Zhang123456</property>
        <!--password-->
        <property name="hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <mapping resource="hibernate/Person.hbm.xml"></mapping>
        <mapping resource="hibernate/Post.hbm.xml"></mapping>
        <mapping resource="hibernate/Department.hbm.xml"></mapping>
        <mapping resource="hibernate/User.hbm.xml"></mapping>
    </session-factory>
</hibernate-configuration>
